<!DOCTYPE html>
<html>
  <head>
    <title>Core War Web | Lobby results</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Bootstrap Core CSS -->
        <link href="/css/bootstrap.min.css" rel="stylesheet">

        <!-- Bootstrap Core CSS RTL-->
        <link href="/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="/css/sb-admin.css" rel="stylesheet">
        <link href="/css/sb-admin.css" rel="stylesheet">

        <!-- Morris Charts CSS -->
        <link href="/css/plugins/morris.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
  </head>
  <div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/index.html">Core War Web</a>
        </div>
        <!-- Top Menu Items -->
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li class="active">
                    <a href="/index.html"><i class="fa fa-fw fa-dashboard"></i> Homepage</a>
                </li>
                <li>
                    <a href="/champions_library.html"><i class="fa fa-fw fa-bar-chart-o"></i> Champions library</a>
                </li>
                <li>
                    <a href="/lobbies.html"><i class="fa fa-fw fa-table"></i> Lobbies</a>
                </li>
                <li>
                    <a href="/user_profile.html"><i class="fa fa-fw fa-edit"></i> Profile</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">

        <div class="container-fluid">
          <% if (user) { %>
            <h1>Game lobbies</h1>
            <p>Hey <i><%= user.name %></i>, here you can see the results of this lobby</p>
          <% if (lobby) { %>
              <p>Lobby: <i><%= lobby.name %></i>, max players: <i><%= lobby.maxPlayers %></i></p>
              <% lobby.users.forEach(function (member) { %>
                <p>
                  Member: <i><%= member.name %></i>
                </p>
          <% });} %>
          <div class="row">
            <svg width="1000" height="400">
            </svg>
          </div>
          <% if (status) { %>
              <div id="winner">
              </div>
              <h2> <%= status %> </h2> <%
              if (status == 'member')
              { %>
                <p>Leave this lobby  <a href="/lobbies.html/<%= lobby._id %>/leave">Leave</a></p>
              <% }
              else if (status == 'creator')
              { %>
                <p>Erase this lobby  <a href="/lobbies.html/<%= lobby._id %>/erase">Erase</a></p>
              <% }
          } %>
            <p>Get back to <a href="/index.html">main page</a></p>
          <% } else { %>
            <h1>An error occured</h1>
              <p>Go back to the <a href="/index.html">main page</a></p>
          <% } %>
        </body>

        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

  <script src="/socket.io/socket.io.js"></script>
  <script src="https://d3js.org/d3.v3.min.js" charset="UTF-8">
  </script>
  <script charset="UTF-8">
      var lobby = io.connect('http://localhost:8080/<%= lobby._id %>');
      lobby.on('cancel', function (data) {
        alert('cancelled!');
        window.location = '/lobbies.html';
      });
      if (lobby.connected == false)
        console.log(lobby);
      if (d3)
      {
        lobby.on('<%= lobby._id %>', function (data) {
        try {
            var Arena = JSON.parse(data.coreDump);
          }catch(e){
              console.log(e); //error in the above string(in this case,yes)!
          }
          function loadChampions()
          {
            var colourTab = [ "red", "blue", "green", "yellow", "brown" ];
            var championColour = [];
            var i = 0;
            var winner = {};
            var counter = 0;

            console.log('Champions count: ' + Arena.replay.nbPlayers);
            Arena.replay.champions.forEach(function (champion) {
              if (champion.id == Arena.replay.winnerId)
              {
                  winner.name = champion.name;
                  winner.colour = colourTab[i];
              }
              championColour.push(colourTab[i++]);
              counter = champion.entryPoint;
            });
            var div = document.getElementById('winner');
            div.innerHTML = '<h3>The winner is ' + winner.name + ' (colour ' + winner.colour + ')</h3>';
            return championColour;
          }

          function doTurn(championColour)
          {
            var currentCycle = 0;
            var counter = 0;
            var flag = 0;

            Arena.replay.modifList.forEach(function (snapshot) {
                snapshot.forEach(function (modif) {
                  d3.select("#r" + modif.position).transition().duration(1500).style('fill', championColour[modif.championId - 1]);
                });
            });
            console.log('Done');
          }

          var svg = d3.select('svg');
          var initArray = [];

          for (var i = 0; i < 6 * 1024; i++)
            initArray.push({ at: i })
          var rects = svg.selectAll('rect').data(initArray);
          var newRects = rects.enter();
          newRects.append('rect')
          .filter(function(d) {
            return d.at >= 0;
          })
          .attr('y', function(d, i) {
            return Math.floor((d.at / 128)) * 8;
          })
          .attr('x', function(d, i) {
            return Math.floor((d.at % 128)) * 8;
          })
          .attr('id', function(d, i){
            return 'r' + d.at;
          })
          .attr('height', 7)
          .attr('width', 7)
          .transition().duration(1000);
          var tab = loadChampions();
          doTurn(tab);
      });
      }
  </script>
</html>
